name: "workflow"
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: 1.13.x
      - uses: actions/checkout@v2

      - name: "fmt"
        run: make fmt

      - name: "vet"
        run: make vet

      - name: "test"
        run: make test

      - name: "build"
        run: make build